/*Cursors
	You can use all of these https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor and cursors-4u.com*/
	/*Variables*/
		:root {
			--cursor: url(https://cur.cursors-4u.net/cursors/cur-8/cur760.cur), auto;
		}
	body {
		cursor: var(--cursor) !important; 
	}
	a:-webkit-any-link {
		cursor: var(--cursor) !important;
	}
	.avatar {
		cursor: var(--cursor) !important;
	}
	#imgPreview img {
		cursor: var(--cursor) !important;
	}
	#imgPreview {
		cursor: var(--cursor) !important;
	}	
	button {
		cursor: var(--cursor) !important;
	}
	button {
		cursor: var(--cursor) !important;
	}
	input {
		cursor: var(--cursor) !important;
	}
	/* This is commented out because I have a seperate section of code for everything related to the textbox but if you aren't using that uncomment this code.
	textarea {
    cursor: var(--cursor) !important;
  }
	*/
